/* Form */
      
form {
    border: none;
}

.baixa {
    max-width: 500px;
    padding: 40px 20px;
    background: #F5F4F9;
}

textarea:focus{
    outline: #613E67;
}
   
.btn {
    justify-content: center;
    /*align-items: flex-end;*/
    margin-left: 30px;
    margin-top: 20px;
    display: block;
    max-width: fit-content;
}


.container-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
    margin-top: 40px;

  }

  .container-main img {
    width: 100%;
    margin-top: 50px;
  }


  /* Mobile First Attributes */

  @media screen and (max-width: 500px) {
    .container-main {
        grid-template-columns: 1fr;
      }

}