.footer {
    margin-top: 40px;
}

/* Main Section */

.main-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Lateral Menu */

.menuLateral {
    width: 200px;
    align-items: center;
    height: 200px;
    padding: 20px 0;
    font-size: 13px;
    justify-content: space-between;
    background-color: #B692B2;
    color: #381845;
    font-weight: bold;
    position: fixed;
}

.menuLateral a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: #381845;
    background-color: #B692B2;
    border-radius: 0px;
}

.menuLateral a:hover {
    text-decoration: none;
    color: #613E67;
}

.salo-btn {
    width: fit-content;
    border: none;
    background-color: #F5F4F9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #381845;
    font-size: 15px;
}

.content{
    text-align: center;
}

.content img {
    width: 520px;
    margin-top: 10px;
}

  /* Mobile First Attributes */
  
  @media(max-width: 700px) {

  
    .content img {
      width: 100%;
    }
  
    .main-section {
      display: block;
    }
  
    .content .btn {
      margin-bottom: 10px;
      width: 100%;
    }
  
  }